*.o
*.out
*.output

lex.yy.c
parser.tab.c
parser.tab.h

etapa1
etapa2
etapa3
etapa4
etapa4-dbg
etapa5
etapa5-dbg
etapa6
etapa6-dbg


testes

TESTES*

.vscode

Receita.org
ilocsim.py
exemplo*.iloc
o.iloc
todo.txt